/* Cleaned up styles for Swiper-based banner */
.bannerSwiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
  
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: auto;
  height: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
